#loader{
    display: flex;
    margin: auto;
    margin-top: 3rem;
} 

.containerItemsGeneral{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0rem 7rem;
}

.containerItems{
    margin:0rem 1rem;
}

.itemOculto{
    display: none;
}