.cartTitle{
    text-align: center;
    margin-top: 2rem;
}

.seguir-comprando-cart{
    text-align: center;
    margin-bottom: 1.2rem;
    text-decoration: underline;
    color: #8C7A2D;
}

.container-cart{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin: 0rem 0.5rem 1rem 0.5rem;
    border-radius: 1rem;   
    background-color: #F8F8F8;
}

.img-cart{
    height: 12vh;
    width: 20vw;
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.container-data{
    display: flex;
    margin-left:0rem;
    padding-left: -2rem;
}

.productName-cart,
.productCantidad-cart,
.productPrice-cart,
.eliminar-cart{
    margin-right: 0rem;
     margin-top: 1rem; 
    color: #212529;
    text-align: center;
    font-size: 4vw;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.eliminar-cart{
    display: none;
}

.data-compra{
    font-weight: 700;
}

.x-eliminar-cart{
    color: red;
    background-color: #f8f8f8;
    border: none;
    font-weight: 900;
}

.x-eliminar-cart-mobile{
    color: red;
    margin-top: -0.8rem;
}

.button-limpiar-cart{
    background-color: #8C7A2D;
}

.botones-Cart{
    display: flex;
    justify-content:space-around;
}

.total-price-cart{
    display: flex;
    justify-content:right;
    font-weight: 700;
    text-transform: uppercase;
}

.price-limpiar-container{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.limpiarCart{
    text-decoration: underline;
    color: #8C7A2D;
}


@media (min-width: 720px) {

    .seguir-comprando-cart{
        margin-bottom: 2rem;
    }
    
    .container-cart{
        display: flex;
        justify-content: space-around;
        margin-right:1.5rem;
        margin-left: 1.5rem;  
    }
    
    .img-cart{
        height: 150px;
        width: 200px;
        margin-left: 0rem;
        margin-bottom: 1.5rem;
    }
    
    .productName-cart,
    .productCantidad-cart,
    .productPrice-cart,
    .eliminar-cart{
        margin-right: 0rem;
        margin-top: 2rem;
        font-size: 1.2rem;
        padding: 1rem;
    }

    .eliminar-cart{
        display:inline;
    }
       
    .x-eliminar-cart-mobile{
        display: none;
    }

    .total-price-cart{
       margin-top: 0;
        font-size: 1.5rem;
    }

    .limpiarCart{
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {

    .cartTitle{
        font-size: 2rem;
        margin: 3rem 0rem 2rem 0rem;
    }

    .seguir-comprando-cart{
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }
    
    .container-cart{
        display: flex;
        justify-content: space-around;
        margin: 0 10rem 3rem 10rem ;
    }
    
    
    .img-cart{
        height: 200px;
        width: 250px;
        margin-left: 0rem;
        margin-bottom: 1.5rem;
    }
    
    .productName-cart,
    .productCantidad-cart,
    .productPrice-cart,
    .eliminar-cart{
        margin-top: 2.5rem;
        font-size: 1.4rem;
        padding: 1.3rem;
    }

    .total-price-cart{
        font-size: 1.75rem;
    }

    .botones-Cart{
        display: flex;
        justify-content:space-around;
    }

    .limpiarCart{
        font-size: 1.75rem;
    }

}

@media (min-width: 1350px) {

.productName-cart,
.productCantidad-cart,
.productPrice-cart,
.eliminar-cart{
    padding: 3rem;
}

}
