    .containerTotalDetalle{
        background-color: #F8F8F8;
        margin: 2.5rem 1rem;
        padding: 2rem 1.3rem;
        border-radius: 2px;
        box-shadow: rgba(37, 36, 36, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
    
    .detail-product{
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin: auto;
        background-color: #F8F8F8;   
    }
    
    .img-detalle{
        width: 75vw;
        max-width: 500px;
        display: flex;
        margin: auto; 
    }
    
    .containerDataDetail{
        padding: 1rem;
    }
    
    .detail-title{
        font-weight: 700;
        font-size: 8vw;
    }
    
    .detail-price{
        font-weight: 400;
        font-size: 6vw;
    }
    
    .detail-envio{
        font-weight: 400;
        font-size: 4vw;
        margin-bottom: 1rem;
        color: #0F2E20;
    }
    
    .numCart{
        border: 1px solid black
    }
    
    .detail-stock{
        font-size: 5vw;
        font-weight: 200;
        margin-top: 0.2rem;
    }

    #addCartDetail{
        background-color: #8C7A2D;
        color: #FDFDFD;
        margin-top: 1.2rem;
        font-size: 4vw;
        border: none;
        display: flex;
        align-items: center;
    }
    
    
    .botonesDetail{
        display: flex;
        width: 3rem;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .itemCountDetail{
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        padding-top: 0.2rem;
    }
    
    .container-description{
        border-top: 1px solid #8C7A2D;
        margin-top: 1.6rem;
    }

    .titleDescription,
    .detailDescription{
        text-align: center;
        padding-top: 1rem;
        font-size: 5vw;
    }

    .titleDescription{
        font-weight: 700;
    }

    .boton-back-detail{
        margin: 1rem 1rem -1rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-decoration: none;
    }

    .boton-back-detail a{
        color: #F8F8F8;
    }

    .backHome{
        background-color: red;
        color: #F8F8F8;
    }


@media (min-width: 720px) {

.containerTotalDetalle{
     margin: 2.5rem 1rem;
     padding: 1rem 5rem;
    }

.detail-product{
    flex-direction: row;
    margin: 1rem;  
    justify-content:space-evenly;
}

.img-detalle{
    width: 75%;
    margin-top: 1rem;
}

.containerDataDetail{
    padding: 1rem 0rem;
}

.detail-title{
    font-size: 3vw;
}

.detail-price{
    font-size: 2.7vw;
}

.detail-envio{
    font-size: 2vw;
}

.detail-stock{
    font-size: 1.2rem;
}

#addCartDetail{
    margin-top: 1.2rem;
    font-size: 2vw;
}

.titleDescription,
.detailDescription{
    font-size: 2.5vw;
    padding-left:1rem;
    padding-right:1rem;
    }

}

@media (min-width: 1024px) {

    .boton-back-detail{
        margin: 2rem 10rem -4rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .containerTotalDetalle{
        margin: 5rem 10rem;
        padding: 1rem 0rem;
        border-radius: 3px;
    }

    .detail-product{   
        justify-content: baseline;
    }

    .img-detalle{
        width: 100%;
        max-width: 400px;        
    }

    .detail-price{
        font-weight: 400;
        font-size: 2.5vw;
    }

    .detail-envio{
        font-size: 1.5vw;
    }
    
    .detail-stock{
        font-size: 1.3rem;
    }
     

 #addCartDetail{
        margin-top: 1.2rem;
        font-size: 1.3vw;
    }
    

.titleDescription,
.detailDescription{
    font-size: 1.8vw;
    padding: 3rem 1rem 0 1rem;
    margin: -1rem 7rem;
    }

.detailDescription{
    padding-bottom: 3rem;
    font-size: 1.4vw;
}

}