.fa-shopping-cart{
    margin-top: 1.2rem;
    font-size: 1.2rem;
    color: #212529;
}

.ocultarCart{
    display: none;
}

.cartWidget {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    background: #F8F8F8;
    right: 0px;
    top: 57px;
    padding: 10px 0px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    border: 1px solid #0F2E20;
}

.title-cart{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.container-widget-cart{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 0px 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.4rem 0.4rem;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}

.img-cart-widget{
    width: 130px;
    height: 95px;
}

.name-cart-widget,
.cantidad-cart-widget,
.title-cart{
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

.products-length-widget{
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    background-color: #0F2E20;
    color: #F8F8F8;
    margin-left: 0.7rem;
    border-radius: 50%;
    padding: 0rem 0.4rem;
}

.cart-vacio-widget{
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-weight: 400;
}

#addCartDetailWidget{
    display: flex;
    margin: auto;
    margin-bottom: 0.8rem;
}

@media (min-width: 720px) {
    
    .cartWidget {
        width: 500px;
    }
    
    .container-widget-cart{
        padding: 1rem 1rem;   
    }
}
