.title{
    text-align: center;
    color: #021301 
}

.stockProducto{
    margin-top: 5rem;
}


.itemCountHome{
        margin: auto;
    }

.productos{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 2px;
    margin-top: 3rem;
    background-color: #F8F8F8;
    padding-bottom: 1rem;
 }

 .titleProduct{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    font-weight: 200;
}

.img-producto{
    width: 15rem;
    height: 10rem;
}
.priceItem{
    display: flex;
    justify-content: center;    
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#addCart{
    display: flex;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #8C7A2D;
    color: #fdfdfd;
    border-radius: 2px;
    border: none;
}

.productos a{
    color: #fdfdfd;
}

