
#addAndRemove{
    margin-top: -2rem;
    background-color: #8C7A2D;
}

.countCart{
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 22px;

}

.botonesProducto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}