.header{
    display: flex;
    justify-content: space-around;
    background-color: #fdfdfd;
    border-bottom: 3px solid #f8f8f8;
    margin-bottom: 0.5rem;
}

.titleHeader{
    font-size: 1.2rem;
    margin-top: 1.2rem;
    text-decoration: none;
    list-style: none;
    color: #212529;
}

.listado{
    list-style: none;
    display: inline-block;
    padding: 0rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #212529;
    list-style: none;
    text-decoration: none;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    font-size: 1rem;
    color: #212529;
}

.header li:hover .menu-vertical{
    display: block;
    color: #212529;
}

.menu-vertical li{
    margin-left: -2.5rem;
    background-color: #fdfdfd;
    padding: 0.5rem 0.5rem 0.5rem 0;
    text-decoration: none;
    color: #212529;
    list-style: none;
    }

.listaHeader{
    display: none;
}

#cartHeader{
    margin-top: 3rem;
    font-size: 5rem;
}

.listaHeaderMobile{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -2rem;
}

.listadoMobile{
    list-style: none;
    display: inline-block;
    padding: 0rem;
    text-transform: uppercase;
    color: #212529;
    list-style: none;
    text-decoration: none;
}

.menu-vertical-Mobile{
    position: absolute;
    display: none;
    list-style: none;
    font-size: 1rem;
    color: #212529;
}

.header-bottom-mobile li:hover .menu-vertical-Mobile{
    display: block;
    color: #212529;
}

.menu-vertical-Mobile li{
    margin-left: -2.5rem;
    background-color: #fdfdfd;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    text-decoration: none;
    color: #212529;
    list-style: none;
    }


@media (min-width: 768px) {

    .header-bottom-mobile{
        display: none;
    }

.header{
    margin-bottom: -1rem;
}  

.listaHeader{
    display: flex;
    margin-left: -8rem;
}

.listado{
    list-style: none;
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #212529;
    list-style: none;
    text-decoration: none;
}

}