body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFDFD;
  /* background: url("logo-notebook.svg");
  background-position: 100vw;
  opacity: 0.9; */
}


a:hover {
  color: #021301;
  text-decoration: none;
}




@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;900&family=Oswald:wght@300;400;700&display=swap');

